<div class="d-flex justify-content-center  text-center mt-5">
  <div>
    <h1 class="mb-5">Account Login</h1>
    <input type="email" class="form-control mb-3" id="inputEmail" placeholder="Email" required>
    <input type="password" class="form-control mb-3" id="inputPassword" placeholder="Password" required>
    <button type="button" class="btn btn-outline-dark shadow-sm my-4">Sign in</button>
  </div>
</div>